p,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.error {
    color: #d32f2f;
    font-size: 0.75rem;
}

.loader {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3000;
}

.loader span.MuiCircularProgress-root {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}

main.layuout_middle_container {
    overflow: auto;
}


.rdt_Pagination .dwqxpq svg {
    top: 9px;

}

.MuiDialogContent-root {
    padding: 0px 24px;
}

.user_action_icon {
    display: flex;
    grid-gap: 6px;
}

.action_icon{
    display: flex;
    gap: 3px;
}